ul{list-style: none;}
ul {color:blue}
ul {background-color:rgb(206, 187, 180);}

#gh{background-color: rgb(195, 211, 219);}
#r{background-color:rgb(138, 206, 138);}
.cover img{
    margin-left: 40%;
}
